@model MyBase.Infrastructure.Core.PresentationModel.UserDetailsModel

@{
    ViewBag.Title = "ShowUserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowUserDetails</h2>

<fieldset>
    <legend>UserDetailsModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.First)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.First)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Middle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Middle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Last)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Last)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "UserDetails", new { UserName=Model.UserName }) |
    @Html.ActionLink("Continue", "../App/App")
</p>
