<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.css.map" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css.map" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet"/>
    


    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script lang="jv" type="text/javascript" src="~/Scripts/angular-loader.js" ></script>

    <script lang="jv" type="text/javascript" src="~/Scripts/jquery-1.9.1.js" ></script>

    <script lang="jv" type="text/javascript" src="~/Scripts/bootstrap.js" ></script>


    <script lang="jv" type="text/javascript" src="~/Scripts/angular.js" ></script>
    <script lang="jv" type="text/javascript" src="~/Scripts/angular-route.js" ></script>
    <script lang="jv" type="text/javascript" src="~/Scripts/angular-animate.js" ></script>
    @*<script lang="jv" type="text/javascript" src="~/Scripts/angular-mock.js" ></script>*@
    <script lang="jv" type="text/javascript" src="~/Scripts/angular-cookies.js" ></script>
    @*<script lang="jv" type="text/javascript" src="~/Scripts/angular-mocks.js" ></script>*@
    <script lang="jv" type="text/javascript" src="~/Scripts/angular-resource.js" ></script>
    <script lang="jv" type="text/javascript" src="~/Scripts/angular-sanitize.js" ></script>
    <script lang="jv" type="text/javascript" src="~/Scripts/angular-scenario.js" ></script>
    <script lang="jv" type="text/javascript" src="~/Scripts/angular-touch.js" ></script>
    <script lang="jv" type="text/javascript" src="~/Scripts/angular-touch.js" ></script>


 
    

    <script lang="jv" type="text/javascript" src="~/Scripts/knockout-2.2.0.js" ></script>

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
